{% extends 'base.html' %}

{% block cambio %}

    <h5>Nuestros servicios se adaptan a las necesidades y tamaño de nuestros clientes. Podemos ofrecer llevar a cabo todas las funciones de un Departamento de Seguridad e Higiene en el Trabajo en forma externa, suministrar profesionales que logren incrementar la dotación de HST de una organización, o proveer el desarrollo de actividades puntuales que contribuyan a la gestión HST de sus departamentos internos</h5>
    <a href="{% url 'show' %}">Regresar</a>



<hr>
    <a href="{% url 'listas' %}">Ver Actividades</a>

{% endblock %}