<nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="#!">Sobre Mi</a>
                <a class="navbar-brand" href="#!"></a>
                <a class="navbar-brand" href="{% url_for('detalle') %)">Detalle de la actividad</a>
                <a class="navbar-brand" href="{% url_for('listas') %)">Agregar Actividad</a>
                <a class="btn btn-primary" href="#signup">Sign Up</a>
            </div>
        </nav>