<nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="btn btn-primary" href="#SobreMi">Sobre Mi</a>
                <a class="btn btn-primary" href="{% url 'alonger' %}">Que es Alonger</a>
                <a class="btn btn-primary" href="{% url 'iluminacion' %}">Iluminacion</a>
                <a class="navbar-brand" href="#!"></a>

                <a class="btn btn-primary" href="{% url 'listas' %}">Actividades</a>

                <a class="" href="#signup"></a>
            </div>
</nav>